@page "/lista-transaction"
@inject TransactionService TransactionService
@inject NavigationManager NavigationManager
@using AppFinancia.Services;
@using AppFinancia.Models;

<h3>Transações</h3>

<!-- Botões para alternar entre todas as transações e as do mês atual -->
<div class="mb-3">
    <button class="btn btn-primary btn-sm" @onclick="LoadAllTransactions">Mostrar Todas</button>
    <button class="btn btn-secondary btn-sm" @onclick="LoadCurrentMonthTransactions">Mês Atual</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Categoria</th>
            <th>Tipo</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in _transactions)
        {
            <tr style="@(transaction.IsExpense ? "color: red;" : "color: green;")">
                <td>@transaction.Description</td>
                <td>@transaction.Amount.ToString("C")</td>
                <td>@transaction.Category</td>
                <td>@(transaction.IsExpense ? "Despesa" : "Receita")</td>
                <td>@transaction.Date.ToShortDateString()</td>
                <td>
                    <button class="btn btn-danger btn-sm" @onclick="() => DeleteTransaction(transaction.Id)">Excluir</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Transaction> _transactions = new List<Transaction>();

    protected override async Task OnInitializedAsync()
    {
        // Carrega as transações do mês atual por padrão
        await LoadCurrentMonthTransactions();
    }

    private async Task LoadAllTransactions()
    {
        // Carrega todas as transações
        _transactions = await TransactionService.GetTransactionsAsync();
    }

    private async Task LoadCurrentMonthTransactions()
    {
        // Carrega apenas as transações do mês atual
        _transactions = await TransactionService.GetTransactionsForCurrentMonthAsync();
    }

    private async Task DeleteTransaction(string id)
    {
        // Exclui a transação e recarrega a lista de transações atuais
        await TransactionService.DeleteTransactionAsync(id);
        // Aqui você pode decidir se deseja recarregar todas as transações ou apenas as do mês atual
        _transactions = await TransactionService.GetTransactionsAsync();
    }
}
